<ion-content [fullscreen]="true">
  <div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add book</ion-title>
    </ion-toolbar>
  </ion-header>
 <app-add-book></app-add-book>
 
 <ion-fab slot="fixed" vertical="undefined" horizontal="end" >
  <ion-fab-button color="success" size="medium">
    <ion-icon name="add"></ion-icon>
</ion-fab-button>
 </ion-fab>
</div>
</ion-content>

<!-- Change the title of the tab, add the add-book component inside the ion-content tags -->